<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    <title>Admin page</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="info">
</nav>

<!--Navigation-->
<div class="row">
    <div class="col-2 sidebar container-fluid bg-white text-center" style="height: 100vh">
        <div class="nav flex-colum nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="container-fluid">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content">
            <div class="p-3 tab-pane fade show active" id="adminPanel">
                <h2>Admin Panel</h2>

                <!--Navigation User Table and New User-->
                <div class="card col-11 px-3">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs p-3">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users
                                    table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#newUser">New User</a>
                        </ul>

                        <!--AlUsers-->
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="allUsers">
                                <h2 class="card-header">All Users</h2>
                                <div class="container-fluid">
                                    <table class="table table-striped" id="usersTable">
                                        <div class="p-30">
                                            <br>
                                        </div>
                                        <thead class="text-black">
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--New User-->
                            <div class="tab-pane" id="newUser">
                                <div class="card">
                                    <div class="card-header">
                                        Add new user
                                    </div>
                                    <div class="container-fluid col-md-3 text-center">
                                        <br>

                                        <form id="formNewUser" name="formNewUser">

                                            <p>
                                                <label class="container-fluid" for="newUserFirstName">
                                                    <strong>First Name</strong>
                                                    <input class="form-control" type="text" name="firstName"
                                                           id="newUserFirstName" required>
                                                </label>
                                            </p>
                                            <p>
                                                <label class="container-fluid" for="newUserLastName">
                                                    <strong>Last Name</strong>
                                                    <input class="form-control" type="text" name="lastName"
                                                           id="newUserLastName" required>
                                                </label>
                                            </p>
                                            <p>
                                                <label class="container-fluid" for="newUserAge">
                                                    <strong>Age</strong>
                                                    <input class="form-control" type="text" name="age" id="newUserAge">
                                                </label>
                                            </p>
                                            <p>
                                                <label class="container-fluid" for="newUserUserName">
                                                    <strong>Email</strong>
                                                    <input class="form-control" type="text" name="username"
                                                           id="newUserUsername" required>
                                                </label>
                                            </p>
                                            <p>
                                                <label class="container-fluid" for="newUserPassword">
                                                    <strong>Password</strong>
                                                    <input class="form-control" type="text" name="password"
                                                           id="newUserPassword" required>
                                                </label>
                                            </p>
                                            <p>
                                                <label class="container-fluid " for="newUserRoles"><strong>Role</strong></label>
                                                <select style="width: 85%;" id="newUserRoles" class="form-select"
                                                        size="2" name="roles" multiple="" required="required">
                                                    <option value="1">ADMIN</option>
                                                    <option selected="selected" value="2">USER</option>

                                                </select>
                                            </p>

                                            <button type="submit" id="newUserButton" class="btn btn-success">
                                                Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog"
                 aria-labelledby="someDefaultModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                        </div>

                        <div class="modal-footer">
                        </div>

                    </div>
                </div>
            </div>
            <!--User Panel-->
            <div class="tab-pane" id="userPanel">
                <div class="h1 p-3">User information-page</div>
                <div class="card col-11 px-3">
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/create.js"></script>
<script type="text/javascript" src="/header.js"></script>
<script type="text/javascript" src="/edit.js"></script>
<script type="text/javascript" src="/delete.js"></script>
<script type="text/javascript" src="/user.js"></script>
</body>
</html>

